@page
@model SURenew.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container-fluid">
    <div class="row">
        <img class="img-fluid d-block mx-auto" src="~/img/About.png" />
    </div> 
</div>

