@page
@model SURenew.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <h4>Welcome to SURenew, Seattle University's platform dedicated to recycling goods within the community!</h4>
</div>

<div class="container-fluid" style="float: left">
    <h3>What Can I Post?</h3>
    <ul>
        <li>Items you own that you would like to give a new home!</li>
        <li>Examples include furniture, decorations and electronics</li>
        <li><b>For SU Faculty: </b>Personal items purchased with SU funds may be posted here. Please make sure to select
        <i>"This item was purchased with SU funds" when creating a post for the item</i></li>
    </ul>
</div>

@*
<div class="container-fluid">
    <div class="row">
        <a class="" asp-area="" asp-page="NewPost">
            <img class="img-fluid d-block mx-auto" src="~/img/About.png" />
        </a>
    </div> 
</div>
*@

