@page
@model SURenew.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <h4>Welcome to SURenew, Seattle University's platform dedicated to recycling goods within the community!</h4>
</div>

@*
<div class="container-fluid">
    <div class="row">
        <a class="" asp-area="" asp-page="NewPost">
            <img class="img-fluid d-block mx-auto" src="~/img/About.png" />
        </a>
    </div> 
</div>
*@

