@page
@model SURenew.Pages.AdminHomepageModel
@{
    ViewData["Title"] = "AdminHomepage";
}

    <div class="container-fluid">
        <br />
        <br />
        <br />
        <a class="" asp-area="" asp-page="AdminPortal">
            <img class="img-fluid d-block mx-auto" src="~/img/AdminHomepage.png" />
        </a>
    </div>

