@page
@model SURenew.Pages.AdminPortalModel
@{
    ViewData["Title"] = "AdminPortal";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/AdminStyle.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="card-columns">
    <div class="card bg-primary">
        <h4>Active Users</h4>
        <h5>28</h5>
    </div>
    <div class="card bg-success">
        <p class="card-text">Active Posts</p>
        <p class="card-text">78</p>
    </div>
    <div class="card bg-danger">
        <p class="card-text">Reported Post</p>
        <p class="card-text">8</p>
    </div>

</div>

