@page
@model SURenew.Pages.AdminPortalModel
@{
    ViewData["Title"] = "AdminPortal";
}

<div class="container-fluid">
    <div class="row">
        <img class="img-fluid d-block mx-auto" src="~/img/AdminPortal.png" />
    </div>
</div>

