@page
@model SURenew.Pages.AdminHomepageModel
@{
    ViewData["Title"] = "AdminHomepage";
}

    <div class="container-fluid">
        <br />
        <br />
        <br />
        <div class="row">
            <img class="img-fluid d-block mx-auto" src="~/img/AdminHomepage.png" />
        </div>
    </div>

