@page
@model SURenew.Pages.AdminPortalModel
@{
    ViewData["Title"] = "AdminPortal";
}

    <head>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/Admin.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <div class="container-fluid" id="Welcome">
        <h2>Welcome // SURenew // Admin Portal</h2>
        <p class="text-body">Tuesday June 2nd, 2020</p>
        <div id="txt"></div>
    </div>
    <body onload="startTime()"></body>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto">
            <div class="card" id="QuickStat">
                <div class="row">
                    <div class="col-sm-auto">
                        <i class="fa fa-user" id="UserIcon" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-auto">
                        <p class="card-text">Active Users</p>
                        <h4>28</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-auto">
            <div class="card" id="QuickStat">
                <div class="row">
                    <div class="col-sm-auto">
                        <i class="fa fa-check-circle" id="CheckPost" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-auto">
                        <p class="card-text">Active Posts</p>
                        <h4>79</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-auto">
            <div class="card" id="QuickStat">
                <div class="row">
                    <div class="col-sm-auto">
                        <i class="fa fa-flag" id="FlagedPost" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-auto">
                        <p class="card-text">Reported Posts</p>
                        <h4>8</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />


<img class="img-fluid" id="Calendar" src="~/img/Calendar.png" />

