@page
@model SURenew.Pages.GeneratedReportModel
@{
    ViewData["Title"] = "GeneratedReport";
}
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/AdminStyle.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="container-fluid">
    <br />
    <div class="row">
        <img class="img-fluid d-block mx-auto" src="~/img/GeneratedReport.png" />
    </div>
</div>

