@page
@model SURenew.Pages.GeneratedReportModel
@{
    ViewData["Title"] = "GeneratedReport";
}
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/AdminStyle.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="text-center" id="newPostHeading">
    <h1 class="display-4">Generated Report</h1>
</div>

@*uses chart.js to create a bar chart of generated data*@
<canvas id="bar-chart" width="800" height="450"></canvas>


<button type ="Submit" class="btn-primary justify-content-center btn-lg" id="emailButton">Email Attachment</button>
<a href="~/img/data5-25-2020to5-29-2020.PNG" download="data5-25-2020to5-29-202.PNG" class="btn-primary justify-content-center btn-lg">Save</a>
<a href="~/AdminPortal" class="btn-secondary justify-content-center btn-lg" id="exitGraphButton">Exit</a>


@*
    <div class="container-fluid">
        <br />
        <div class="row">
            <img class="img-fluid d-block mx-auto" src="~/img/GeneratedReport.png" />
        </div>
    </div>
*@

