@page
@model SURenew.Pages.GeneratedReportModel
@{
    ViewData["Title"] = "GeneratedReport";
}
<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Admin.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="text-center" id="newPostHeading">
    <h1 class="display-4">Generated Report</h1>
</div>

@*uses chart.js to create a bar chart of generated data*@
<canvas id="bar-chart" width="800" height="450"></canvas>

<a href="" onclick="SendEmailAttachment()" class="btn-primary justify-content-center btn-lg">Email Attachment</a>
<a href="~/img/data5-25-2020to5-29-2020.PNG" download="data5-25-2020to5-29-202.PNG" class="btn-primary justify-content-center btn-lg">Save</a>
<a href="~/AdminPortal" class="btn-secondary justify-content-center btn-lg">Exit</a>

