@page
@model SURenew.Pages.GeneratedReportModel
@{
    ViewData["Title"] = "GeneratedReport";
}

<div class="container-fluid">
    <br />
    <br />
    <br />
    <div class="row">
        <img class="img-fluid d-block mx-auto" src="~/img/GeneratedReport.png" />
    </div>
</div>

