@page
@model SURenew.Pages.HomepageModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="container">
    <br />
    <br />
    <br />
    <br />
    <a class="" asp-area="" asp-page="About">
        <img class="img-fluid d-block block mx-auto" src="~/img/Homepage.png" />
    </a>
</div>
