@page
@model SURenew.Pages.HomepageModel
@{
    ViewData["Title"] = "Homepage";
}

    <div class="jumbotron jumbotron-fluid" id="jumbotron">
        <div class="container">
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
