@page
@model SURenew.Pages.HomepageModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="container-fluid">
    <div class="row">
        <img class="img-fluid d-block block mx-auto" src="~/img/Homepage.png" />
    </div>
</div>
