@page
@model SURenew.Pages.HomepageModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="jumbotron jumbotron-fluid" id="jumbotron">
    <div class="container text-center">
        <h1 class="display-4">
            Home
        </h1>
        <p class="lead">Donate, Repurpose, Renew.</p>
    </div>
</div>

<div class="card-columns">
    <div class="card">
        <img src="https://www.seattleu.edu/media/cejs/images/Screen-Shot-2019-12-02-at-2.18.05-PM-1-500x386.png" class="card-img-top" alt="...">
        <div class="card-body" id="cardBodyDark">
            <p class="card-text">Working together to create a better campus community, ~Sara H.</p>
        </div>
    </div>
    <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
            <p>Helping those in need, ~Bo S.</p>
        </blockquote>
    </div>

    <div class="card">
        <img src="https://www.mbaonlinecolleges.com/wp-content/uploads/2019/04/superson.png" class="card-img-top" alt="...">
    </div>

    <div class="card">
        <img src="~/img/SURenewLogo.svg.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">What does it mean to Renew at SU?</h5>
        </div>
    </div>
    <div class="card bg-secondary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
            <p>Going through your things and donating items you no longer need, ~Jason L.</p>
 
        </blockquote>
    </div>
    <div class="card text-center">
        <div class="card-body" id="cardDark">
            <p class="card-text">A new perspective and a fresh start, ~Cody T.</p>
        </div>
    </div>
    <div class="card">
        <img src="https://d39l2hkdp2esp1.cloudfront.net/img/photo/131089/131089_00_2x.jpg" class="card-img-top" alt="...">
    </div>
    <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
            <p>Spending time getting to know those around you and help out when you can, ~Abby F.</p>
        </blockquote>
    </div>
    <div class="card">
        <div class="card-body" id="cardDarkBody">
            <p class="card-text">Repurposing instead of purchasing something new, ~Andy M.</p>
        </div>
    </div>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" id="logo">
            <img class="d-block w-100 h-50" src="https://abound.college/gradschool/wp-content/uploads/sites/3/2017/09/seattle-university-2-1776x888.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 h-50" src="https://www.seattleu.edu/newsroom/stories/SURoofTops_yck_001_optimized-1.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 h-50" src="https://www.alphagraphicsseattle.com/wp-content/uploads/seattle-university-install-featured.jpg" alt="Third slide">
        </div>

    </div>
</div>