@page "~/Home"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <script src="https://kit.fontawesome.com/cefd37f614.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/UserStyle.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<div class="text-center">
    <h1 class="display-4">View Posts</h1>
    <div class="flex-wrap">
        <form class="form-inline justify-content-center" id="searchBar">
            <input class="form-control form-control-sm mr-3 w-25 " type="text" placeholder="Search Posts"
                   aria-label="Search">
            <i class="fas fa-search" aria-hidden="true"></i>
        </form>
    </div>
</div>


<div class="card-columns">

    @foreach (var product in Model.Products)
    {
        <div class="card  overflow-auto" id="productCard">
            <div class="card-img" style="background-image: url('@product.Image');"></div>
            <div class="card-body justify-content-center">
                <h5 class="card-title">@product.Title</h5>
                <h8 class="card-text" id="dateText">@product.Date</h8>
                <form asp-page="/LampDescription" id="viewDescription">
                <button type="Submit" class="btn-primary justify-content-end btn-group-sm" >View Description</button>
                    </form>
            </div>
        </div>
    }
</div>