@page
@model SURenew.Pages.LampDescriptionModel
@{
    ViewData["Title"] = "LampDescription";
}


<h1 class="text-center">Item Description</h1>




<div class="container-fluid justify-content-center" id="lampDescription">
    <div class="card">
        <img src="https://target.scene7.com/is/image/Target/GUEST_3703c26d-4db2-49e5-851e-5342a118b87a?wid=488&hei=488&fmt=pjpeg" class="card-img-top" alt="..." id="lampImage">
        <div class="card-body text-center" id="lampText">
            <h1 class="card-title">Desk Lamp</h1>
            <h7>Posted 5/25/2020</h7>
            <p class="card-text" id="lampCardText">I am donating a desk lamp, this is in good working condition. Comes with batteries and new bulb.</p>
            <button type="Submit" class="btn-primary justify-content-end btn-group-sm" id="contactHost">Contact Host</button>
        </div>
    </div>
    </div>






