@page
@model SURenew.Pages.LampDescriptionModel
@{
    ViewData["Title"] = "LampDescription";
}

<h1>LampDescription</h1>


<textarea name="textarea"
          rows="10" cols="50">Write something here</textarea>

<div class="card  overflow-auto">
    <div class="card-img"></div>
    <div class="card-body justify-content-center">
        <button type="Submit" class="btn-primary justify-content-end btn-group-sm" id="viewDescription">Contact Post Owner</button>
    </div>
</div>