@page
@model SURenew.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <div class="row">
        <img class="img-fluid d-block mx-auto" src="~/img/Login.png" />
    </div>
</div>
