@page
@model SURenew.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm" style="text-align: right">Forget Password</div>
    </div>
</div>

<div class="container">
    <a class="" asp-area="" asp-page="Homepage">
        <img class="img-fluid d-block mx-auto" src="~/img/Login.png" />
    </a>
</div>