@page
@model SURenew.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm" style="text-align: right">Forget Password</div>
    </div>
    <div class="row">
        <a class="" asp-area="" asp-page="Index">
            <img class="img-fluid d-block mx-auto" src="~/img/Login.png" />
        </a>
    </div>
</div>
