@page
@model SURenew.Pages.MyPostAfterCloseModel
@{
    ViewData["Title"] = "MyPostAfterClose";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/UserStyle.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>


<div class="text-center" id="myPostHeading">
    <h1 class="display-4">My Posts</h1>
</div>

<div class="card card-columns" id="myPost">
    
        <div class="scrollit table-hover">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><input type="checkbox" id="myPostListItem" /></th>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" id="myPostListItem" /></th>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" id="myPostListItem" /></th>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" id="myPostListItem" /></th>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" id="myPostListItem" /></th>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"><input type="checkbox" id="myPostListItem" /></th>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                </tbody>
            </table>
        </div>
    

    <br />

    <div class="btn-group btn-group-toggle" id="buttonContainer">
        <button type="Submit" class="btn-primary" id="button1">View</button>
        <button type="Submit" class="btn-secondary" id="button2">Edit</button>
        <button type="Submit" class="btn-danger" id="button3">Close</button>
    </div>

</div>



  

      

    