@page
@model SURenew.Pages.MyPostModel
@{
    ViewData["Title"] = "MyPost";
}

<div class="container-fluid">
    <div class="row">
        <img class="img-fluid d-block mx-auto" src="~/img/MyPost.png" />
    </div>
</div>

