@page
@model SURenew.Pages.MyPostModel
@{
    ViewData["Title"] = "MyPost";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/UserStyle.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="container-fluid">
    <div class="row">
        <img class="img-fluid d-block mx-auto" src="~/img/MyPost.png" />
    </div>
</div>

