@page
@model SURenew.Pages.NewPostModel
@{
    ViewData["Title"] = "NewPost";
}










@*Default wireframe image for the new post page
<div class="container-fluid">
    <div class="row">
        <a class="" asp-area="" asp-page="ViewPost">
            <img class="img-fluid d-block mx-auto" src="~/img/NewPost.png" />
        </a>
    </div>
</div>
*@
