@page
@model SURenew.Pages.NewPostModel
@{
    ViewData["Title"] = "NewPost";
}

<div class="text-center">
    <h1 class="display-4">New Post</h1>
</div>

<div class="container-fluid">
    <p class="font-italic"> * => Required Fields</p>

    <label for="title">*Title: </label>
    <input type="text" id="title" name="title" /> <br>
    <br />

    <label for="desc">*Description: </label>
    <textarea id="desc" rows="4" cols="50"></textarea><br />
    <br />

    <label for="imgupld">Upload Image: </label>
    <input type="file" id="imgupld" name="imgupld" accept="image/png, image/jpeg"/><br />
    <br />

    <label for="category">Category: </label>
    <select id="category" name="category">
        <option value="furniture">Furniture</option>
        <option value="lighting">Lighting</option>
        <option value="books">Books</option>
        <option value="electronics">Electronics</option>
        <option value="decorations">Decorations</option>
        <option value="office">Office Goods</option>
    </select>


</div>








@*Default wireframe image for the new post page
<div class="container-fluid">
    <div class="row">
        <a class="" asp-area="" asp-page="ViewPost">
            <img class="img-fluid d-block mx-auto" src="~/img/NewPost.png" />
        </a>
    </div>
</div>
*@
