@page
@model SURenew.Pages.NewPostModel
@{
    ViewData["Title"] = "NewPost";
}

<div class="text-center">
    <h1 class="display-4">New Post</h1>
</div>

<div class="container-fluid">
    <p class="font-italic"> * => Required Fields</p>
    <form>
        <label for="title">*Title: </label>
        <input type="text" id="title" name="title" />
    </form>

</div>








@*Default wireframe image for the new post page
<div class="container-fluid">
    <div class="row">
        <a class="" asp-area="" asp-page="ViewPost">
            <img class="img-fluid d-block mx-auto" src="~/img/NewPost.png" />
        </a>
    </div>
</div>
*@
