@page
@model SURenew.Pages.NewPostModel
@{
    ViewData["Title"] = "NewPost";
}

<div class="text-center">
    <h1 class="display-4">New Post</h1>
</div>








@*Default wireframe image for the new post page
<div class="container-fluid">
    <div class="row">
        <a class="" asp-area="" asp-page="ViewPost">
            <img class="img-fluid d-block mx-auto" src="~/img/NewPost.png" />
        </a>
    </div>
</div>
*@
