@page
@model SURenew.Pages.NewPostModel
@{
    ViewData["Title"] = "NewPost";
}

<div class="container-fluid">
    <div class="row">
        <img class="img-fluid d-block mx-auto" src="~/img/NewPost.png" />
    </div>
</div>

