@page
@model SURenew.Pages.SiteStatisticsModel
@{
    ViewData["Title"] = "SiteStatistics";
}

    <head>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/Admin.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

<div class="container-fluid" id="Welcome">
    <h2>SURenew // Site Statistics Generator</h2>
    <p class="text-body">Tuesday June 2nd, 2020 3:45 PM </p>
</div>

<br />
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">* Report type:</div>
        <div class="col-sm-4">* Data selection:</div>
        <div class="col-sm-4">* Date select:</div>
    </div>
    <div class="row">
        <div class="col-sm-auto">
            <select class="form-control" id="sel1" name="sellist1">
                <option>Bar Graph</option>
                <option>Column Graph</option>
                <option>Line Graph</option>
                <option>Pie Chart</option>
                <option>Scatter plot</option>
                <option>Spreadsheet</option>
            </select>
        </div>
        <div class="col-sm-auto">
            <div class="card" id="DataFieldCard">

                <div class="scrollit table-hover">

                    <table class="table table-bordered" id="DataTable">
                        <tbody>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Claimed items</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Unclaimed items</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Students posts</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Staffs posts</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Reports</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Active Users</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-auto">
            <form action="/action_page.php">
                <label for="birthday">Start Date:</label>
                <input type="date" id="DateSelect" name="DateSelect">
            </form>
            <br />
            <form action="/action_page.php">
                <label for="birthday">End Date  :</label>
                <input type="date" id="DateSelect" name="DateSelect">
            </form>
        </div>
    </div>
</div>

