@page
@model SURenew.Pages.SiteStatisticsModel
@{
    ViewData["Title"] = "SiteStatistics";
}

<div class="container">
    <a class="" asp-area="" asp-page="GeneratedReport">
        <img class="img-fluid d-block mx-auto" src="~/img/SiteStatistics.png" />
    </a>
</div>

