@page
@model SURenew.Pages.SiteStatisticsModel
@{
    ViewData["Title"] = "SiteStatistics";
}

<head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/AdminStyle.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="container-fluid" id="Welcome">
    <h2>SURenew // Site Statistics Generator</h2>
    <p class="text-body">Tuesday June 2nd, 2020 3:45 PM </p>
</div>

<br />
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto">* Report type:</div>
        <div class="col-sm-auto">* Data selection:</div>
        <div class="col-sm-auto">* Date select:</div>
    </div>
    <div class="row">
        <div class="col-sm-auto">
            <select class="form-control" id="sel1" name="sellist1">
                <option>Bar Graph</option>
                <option>Column Graph</option>
                <option>Line Graph</option>
                <option>Pie Chart</option>
                <option>Scatter plot</option>
                <option>Spreadsheet</option>
            </select>
        </div>
        <div class="col-sm-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox">
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="Claimed Items ">
            </div>
        </div>
    </div>
</div>

