@page
@model SURenew.Pages.ViewPostModel
@{
    ViewData["Title"] = "ViewPost";
}

<div class="container-fluid">
    <div class="row">
        <a class="" asp-area="" asp-page="MyPost">
            <img class="img-fluid d-block mx-auto" src="~/img/ViewPost.png" />
        </a>
    </div>
</div>

