@page
@model SURenew.Pages.ViewPostModel
@{
    ViewData["Title"] = "ViewPost";
}

<div class="container-fluid">
    <div class="row">
        <img class="img-fluid d-block mx-auto" src="~/img/ViewPost.png" />
    </div>
</div>

