<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - SURenew</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navbar border-bottom box-shadow mb-3" id="NavBar">
        <div class="container">
            <div class="img-container" id="SU">
                <img border="0" alt="SU" src="~/img/Seattle_Redhawks_logo.svg.png" width="50" height="50">
                <h1 class="navbar-brand">Renew</h1>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse justify-content-end">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <form class="form-inline">
                            <input class="form-control form-control-sm mr-3 w-75 " id="navSearch" type="text" placeholder="Search"
                                   aria-label="Search">
                        </form>
                    </li>
                    <li class="nav-item" id="UserMenu" style="margin-left: 60%;">
                        <div class="dropdown">
                            <i class="fa fa-user-circle" style="color: white; font-size: 22px;" aria-hidden="true"></i>
                            <button type="button" class="btn btn-link text-white" data-toggle="dropdown">Welcome, Emily</button>
                            <div class="dropdown-menu">
                                <div class="card" style="width:200px; border:none">
                                    <img class="card-img-top" src="~/img/Emily.png" alt="Card image" style="width:100%" />
                                </div>
                                <a class="dropdown-item" style="height: 35px;">
                                    <i class="fa fa-circle" style="color: lawngreen; font-size: 12px; margin-left: -2px;" aria-hidden="true">
                                        <p class="text-body" style="float:right; padding-left: 10px;">Online</p>
                                    </i>
                                </a>
                                <a class="dropdown-item" href="#">View Profile</a>
                                <a class="dropdown-item" href="#">Account Setting</a>
                                <a class="dropdown-item" href="/DefaultLogin">Logout</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item" id="AdminMenu">
                        <div class="dropdown">
                            <i class="fa fa-user-circle" style="color: white; font-size: 22px;" aria-hidden="true"></i>
                            <button type="button" class="btn btn-link text-white" data-toggle="dropdown">Welcome, James</button>
                            <div class="dropdown-menu">
                                <div class="card" style="width:200px; border:none">
                                    <img class="card-img-top" src="~/img/James.png" alt="Card image" style="width:100%" />
                                </div>
                                <a class="dropdown-item" style="height: 35px;">
                                    <i class="fa fa-circle" style="color: lawngreen; font-size: 12px; margin-left: -2px;" aria-hidden="true">
                                        <p class="text-body" style="float:right; padding-left: 10px;">Online</p>
                                    </i>
                                </a>
                                <a class="dropdown-item" href="#">View Profile</a>
                                <a class="dropdown-item" href="#">Account Setting</a>
                                <a class="dropdown-item" href="/DefaultLogin">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="tab" id="SideTab">
        <div class="img-container">
            <img border="0" alt="SURenew" src="~/img/SURenewLogo.svg.png" width="125" height="125">
        </div>
        <ul class="flex-grow-1 list-unstyled" id="RegSideBar">
            <li class="nav-item" id="sidebarText">
                <a class="nav-link text-light" asp-area="" asp-page="/Homepage">Home</a>
            </li>
            <li class="nav-item" id="sidebarText">
                <a class="nav-link text-light" asp-area="" asp-page="/Index">View Posts</a>
            </li>
            <li class="nav-item" id="sidebarText">
                <a class="nav-link text-light" asp-area="" asp-page="/NewPost">New Post</a>
            </li>
            <li class="nav-item" id="sidebarText">
                <a class="nav-link text-light" asp-area="" asp-page="/MyPost">My Posts</a>
            </li>
            <li class="nav-item" id="sidebarText">
                <a class="nav-link text-light" asp-area="" asp-page="/About">About</a>
            </li>
        </ul>
        <ul class="flex-grow-1 list-unstyled" id="AdminSideBar">
            <li class="nav-item" id="sidebarText">
                <a class="nav-link text-light" asp-area="" asp-page="/AdminPortal">Home</a>
            </li>
            <li class="nav-item" id="sidebarText">
                <a class="nav-link text-light" asp-area="" asp-page="/SiteStatistics">Site Statistics</a>
            </li>
            <li class="nav-item" id="sidebarText">
                <a class="nav-link text-light" asp-area="" asp-page="">User Reports</a>
            </li>
            <li class="nav-item" id="sidebarText">
                <a class="nav-link text-light" asp-area="" asp-page="">User Portal</a>
            </li>
            <li class="nav-item" id="sidebarText">
                <a class="nav-link text-light" asp-area="" asp-page="/About">About</a>
            </li>
        </ul>
    </div>

    <div id="ViewPosts" class="tabcontent">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SURenew.WebSite - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
