<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - SURenew</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-navbar border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Homepage">SURenew</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Homepage">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/AdminHomepage">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="tab">
        <div class="img-container">
            <img border="0" alt="SURenew" src="~/img/SURenewLogo.svg.png" width="125" height="125">
        </div>
        <button class="tablinks" onclick="openCity(event, 'Home')" id="defaultOpen">Home</button>
        <button class="tablinks" onclick="openCity(event, 'About')">About</button>
        <button class="tablinks" onclick="openCity(event, 'ViewPosts')">View Posts</button>
        <button class="tablinks" onclick="openCity(event, 'NewPost')">New Post</button>
        <button class="tablinks" onclick="openCity(event, 'MyPosts')">My Posts</button>

    </div>

    <div id="Home" class="tabcontent">
        <main role="main" class="pb-3">
            <h3>Home</h3>
        </main>
    </div>

    <div id="About" class="tabcontent">
        <h3>About</h3>
    </div>

    <div id="ViewPosts" class="tabcontent">
        
            @RenderBody()
        
    </div>

    <div id="NewPost" class="tabcontent">
        <h3>New Post</h3>
    </div>

    <div id="MyPosts" class="tabcontent">
        <h3>My Posts</h3>
    </div>


    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SURenew.WebSite - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
